<header app-header id="header">
</header>
<div id="app-body">

  <app-items-container
  #itemsContainerId
  *ngIf="
  (!editor.editor() && !editor.creation()) || !global.isResolutionSmall" 
  [ngClass]="{ 'items-container-while-editing': editor.editor() || editor.creation()}" 
  [style.width.%]="itemsContainer.itemsContainerWidthPctState()">
  
  </app-items-container>
  

  <app-editor 
  
  *ngIf="editor.editor() || editor.creation()" 
  [style.width.%]="!global.isResolutionSmall ? editor.editorWidthPctState() : 100"
  [ngClass]="{'app-editor-smallresolution':global.isResolutionSmall}">
  
  </app-editor>

</div>