@use 'styles' as *;
/*

== GRAY PALETTE

- f8fafa
- c5c6c8
- 818283
- 4f5052
- 282728
- 0d0e10

== RED PALETTE

- f61700
- e6001e
- b0031b
- 7f0418

*/
:host {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#app-body {
    background: #282728;
    height:  calc(100vh - 60px);
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;  /* Ancho de la barra vertical */
  height: 6px; /* Altura de la barra horizontal (para scroll lateral) */
}

/* Color de fondo de la scrollbar (track) */
::-webkit-scrollbar-track {
  background: transparent; /* Hace que se vea más limpia */
}

/* Color y diseño de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #999;  /* Color del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
}

/* Cambia el color al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #666; /* Oscurecer para mejor feedback */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}