<header app-header id="header">
</header>
<div id="app-body">
  <div class="items-container" [ngClass]="{ 'items-container-while-editing': itemsState.editor() || itemsState.creation() }">
    <ng-container *ngIf="!itemsSync.searchTerm">
      <app-item *ngFor="let item of itemsSync.items()" [data]="item"></app-item>
    </ng-container>
    <ng-container *ngIf="itemsSync.searchTerm">
      <app-item *ngFor="let item of itemsSync.filteredItems" [data]="item"></app-item>
    </ng-container>
    <span *ngIf="itemsSync.items().length === 0 && !itemsSync.searchTerm && !itemsSync.firstLoad()" class="no-items-message">
      Click add button to create a note.
    </span>
    <span *ngIf="itemsSync.searchTerm && itemsSync.filteredItems.length === 0" class="no-items-message">
      No notes found.
    </span>
  </div>
  <app-editor *ngIf="itemsState.editor() || itemsState.creation()"></app-editor>  
</div>