<app-search></app-search>
<button 
  *ngIf="!itemsState.editor() && !itemsState.multipleSelection() && !itemsState.creation()"
  (click)="handleAddButton()"
  id="add-button" 
  class="btn-styles"
  mat-button>
  add
</button>

<button 
  *ngIf="!itemsState.editor() && itemsState.multipleSelection() && !itemsState.creation()" 
  (click)="handleDelButton()"
  id="del-button" 
  class="btn-styles del-button"
  [ngClass]="{'del-button-enabled':itemsState.delButtonEnabled}"
  mat-button>
  del
</button>

<button 
  *ngIf="(itemsState.editor() || itemsState.creation()) && !itemsState.multipleSelection()" 
  (click)="itemsState.handleConfirmEditor()"
  id="confirm-editor-btn"
  class="btn-styles" 
  mat-button>
  confirm
</button>

<button 
  *ngIf="!itemsState.multipleSelection() && !itemsState.editor() && !itemsState.creation()" 
  (click)="handleSelectButton(true)" 
  id="select-multiple-btn" 
  class="btn-styles select-button"
  [ngClass]="{'select-button-disabled': itemsSync.items().length === 0}"
  mat-button>
  select
</button>

<button 
  *ngIf="itemsState.multipleSelection() && !itemsState.editor() && !itemsState.creation()" 
  (click)="handleSelectButton(false)" 
  id="cancel-selection-btn" 
  class="btn-styles" 
  mat-button>
  cancel
</button>

<button 
  *ngIf="(itemsState.editor() || itemsState.creation()) && !itemsState.multipleSelection()" 
  (click)="handleCancelEditor()"
  id="cancel-editor-btn" 
  class="btn-styles" 
  mat-mini-fab>
  cancel
</button>