<app-search 
[ngClass]="
  {
    'app-search-focus': search.searchInputFocus, 
    'app-search-disabled': (global.isResolutionSmall && (editor.editor() || editor.creation())) || itemsSync.items().length === 0
  }">
</app-search>
<button 
  *ngIf="!editor.editor() && !itemsContainer.multipleSelection() && !editor.creation()"
  (click)="handleAddButton()"
  id="add-button" 
  class="btn-styles"
  mat-button>
  add
</button>
<!-- TODO:MOVER LA LOGICA AL SCRIPT EN LUGAR DEL TEMPLATE -->
<button 
  *ngIf="!editor.editor() && itemsContainer.multipleSelection() && !editor.creation()" 
  (click)="handleDelButton()"
  id="del-button" 
  class="btn-styles del-button"
  [ngClass]="{'del-button-enabled':header.delButtonEnabled}"
  mat-button>
  del
</button>

<button 
  *ngIf="(editor.editor() || editor.creation()) && !itemsContainer.multipleSelection()" 
  (click)="editor.handleConfirmEditor()"
  id="confirm-editor-btn"
  class="btn-styles" 
  mat-button>
  confirm
</button>

<button 
  *ngIf="!itemsContainer.multipleSelection() && !editor.editor() && !editor.creation()" 
  (click)="handleSelectButton(true)" 
  id="select-multiple-btn" 
  class="btn-styles select-button"
  [ngClass]="{'select-button-disabled': itemsSync.items().length === 0}"
  mat-button>
  select
</button>

<button 
  *ngIf="itemsContainer.multipleSelection() && !editor.editor() && !editor.creation()" 
  (click)="handleSelectButton(false)" 
  id="cancel-selection-btn" 
  class="btn-styles" 
  mat-button>
  cancel
</button>

<button 
  *ngIf="(editor.editor() || editor.creation()) && !itemsContainer.multipleSelection()" 
  (click)="editor.handleCancelEditor()"
  id="cancel-editor-btn" 
  class="btn-styles" 
  mat-mini-fab>
  cancel
</button>