#add-button {
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.40);
    margin: 0 15px 0 0;
    border: 1px solid #f8fafa;
    color: #f8fafa;
    color: #d5f7d0;
    border-color: #d5f7d0;
    font-weight: 100;
    font-size: 20px;
    height: 40px;
    width: 80px; 
    border-radius: 20px;
    background: #282728;
}
    #add-button-text {
        font-size: 25px;
        padding-left: 10px;
        color: #f8fafa;
        font-family: Quicksand, monospace;
    }

.select-cancel-btn {
    border: 1px solid #f8fafa;
    color: #f8fafa;
    padding: 6px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.40);
    margin-right: 15px;
    font-weight: 100;
    font-size: 20px;
    height: 40px;
    width: 100px;
    background: #282728; 
}
#select-multiple-btn, #cancel-selection-btn {
    border-radius: 20px;
}

#add-button, #select-multiple-btn {
    transition: filter .3s ease;
}
#add-button:hover, #select-multiple-btn:hover, #cancel-selection-btn:hover {
    filter: brightness(60%);
    cursor:pointer; 
}