:host {
    background: #282728;
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    overflow: visible;
}
.app-search-focus {
    border-color: #f8fafa;
    border-color: #d0d2f7;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.60);
}
.app-search-disabled {
    pointer-events: none;
    border-color: #777;
    box-shadow: none;
}
.btn-styles {
    border: 1px solid #f8fafa;
    color: #f8fafa;
    padding: 6px 22px 6px 22px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.40);
    margin-right: 15px;
    font-weight: 100;
    font-size: 20px;
    height: 40px;
    background: #282728;
    cursor:pointer;
    font-family: sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#select-multiple-btn,
#cancel-selection-btn,
#cancel-editor-btn,
#confirm-editor-btn,
#add-button,
#del-button {
  border-radius: 20px;
  transition: filter 0.3s ease;
  animation: fadeIn 0.3s ease forwards;
}

#confirm-editor-btn, #add-button {
    border-color: #d5f7d0;
    color: #d5f7d0;
}
.del-button {
    cursor: default;
    color: #777;
    border-color: #777;
    pointer-events: none;
    box-shadow: none;
    user-select: none;
}
.del-button-enabled {
    pointer-events: auto;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.40);
    cursor: pointer;
}
.select-button {
    border-color: #d0d2f7;
    color: #d0d2f7;
}
.select-button-disabled {
    cursor: default;
    color: #777;
    border-color: #777;
    pointer-events: none;
    box-shadow: none;
    user-select: none;
}
.del-button-enabled, #cancel-editor-btn {
    color: #f7d0d0;
    border-color: #f7d0d0;
}
#add-button:hover, 
#select-multiple-btn:hover, 
#cancel-selection-btn:hover,
#cancel-editor-btn:hover, 
#confirm-editor-btn:hover,
#del-button:hover {
    filter: brightness(60%);
}