
<button *ngIf="!itemsState.editor() && !itemsState.multipleSelection()" mat-button id="add-button" class="btn-styles">add</button>
<button *ngIf="!itemsState.editor() && itemsState.multipleSelection()" mat-button id="del-button" class="btn-styles">del</button>
<button (click)="itemsState.handleConfirmEditor()" *ngIf="itemsState.editor()" id="confirm-editor-btn" class="btn-styles" mat-mini-fab>
  confirm
</button>

<button *ngIf="!itemsState.multipleSelection() && !itemsState.editor()" (click)="itemsState.handleSelectButton(true)" id="select-multiple-btn" class="btn-styles" mat-mini-fab aria-label="Example icon button with a menu icon">
  select
</button>
<button *ngIf="itemsState.multipleSelection() && !itemsState.editor()" id="cancel-selection-btn" (click)="itemsState.handleSelectButton(false)" class="btn-styles" mat-mini-fab>
  cancel
</button>
<button *ngIf="itemsState.editor()" id="cancel-editor-btn" class="btn-styles" mat-mini-fab (click)="itemsState.handleCancelEditor()">
  cancel
</button>