<div [ngClass]="{'editor__div-smallresolution':itemsState.isResolutionSmall}">
    <input 
    type="text" 
    class="title-input" 
    (input)="onTitleInput($event)" 
    [(ngModel)]="titleInputValue" 
    (keydown.enter)="itemsState.handleConfirmEditor()">
    <textarea 
    appAutofocus
    placeholder="Type something..." 
    #editor 
    (input)="onContentInput($event)"
    (keydown.enter)="itemsState.handleConfirmEditor()"
    [(ngModel)]="contentInputValue"
    >
    </textarea>
    <app-resize-bar *ngIf="!itemsState.isResolutionSmall"
    [primaryElementCurrentWidth]="getCurrentWidth"
    ></app-resize-bar>
</div>