<div [ngClass]="{'editor__div-smallresolution':global.isResolutionSmall}">
    <input 
    type="text" 
    class="title-input" 
    (input)="onTitleInput($event)" 
    [(ngModel)]="titleInputValue" 
    (keydown.enter)="editorService.handleConfirmEditor()">
    <textarea 
    appAutofocus
    placeholder="Type something..." 
    #editor 
    (input)="onContentInput($event)"
    (keydown.enter)="editorService.handleConfirmEditor()"
    [(ngModel)]="contentInputValue"
    >
    </textarea>
    <app-resize *ngIf="!global.isResolutionSmall"
    [primaryElementCurrentWidth]="getCurrentWidth"
    ></app-resize>
</div>